// Base styles
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, li, a {
font-family: 'Open Sans', sans-serif;
font-weight: 400;
line-height: 1.5;
color: $black;
letter-spacing: 0;
}

h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 24px 0;
    color: $blue-black-dark;
}
h2 {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    padding: 32px 0 24px 0;
    color: $blue-black-dark;
}
h3 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 24px 0 24px 0;
    color: $blue-black-dark;
}
h4 {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    padding: 16px 0 24px 0;
    color: $blue-black-dark;
}
h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 8px 0 24px 0;
    color: $blue-black-dark;
}
p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0 0 24px 0;
}
a {
    color: $blue-links;
}
ul {
    margin: 0;
    padding: 0 0 24px 0;
}
li {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 0 32px;
    padding: 0 0 16px 0;
    
    &:last-of-type {
        padding: 0;
    }
}

img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


button.primary-button {
    background: $yellow-highlight-dark;
    border-radius: 50px;
    padding: 0 32px;
    height: 54px;
    border: solid 3px $yellow-highlight-shadow;
    box-shadow: $button-boxshadow;

    &:focus {
        background: $yellow-links-background;
        border: solid 3px $blue-focus;
        outline: none;
    }
    &:hover {
        background: $yellow-links-background;
        border: solid 3px $yellow-links-background;
    }
}

button.secondary-button {
    background: $white;
    border-radius: 50px;
    padding: 0 32px;
    height: 54px;
    border: solid 3px $blue-links;
    box-shadow: $button-boxshadow;

    &:focus {
        background: $blue-links;
        border: solid 3px $blue-links;
        color: $white;
        outline: none;
    }
    &:hover {
        background: $blue-background-dark;
        border: solid 3px $blue-background-dark;
        color: $white;
    }
}

button.chat {
    position: fixed;
    right: 24px;
    bottom: 24px;
    height: 54px;
    padding: 0 67px 0 32px;
    display: flex;
    align-items: center;
    z-index: 9000;
    border-radius: 60px;
    box-shadow: $button-boxshadow;
    
    span {
        font-size: 16px;
        line-height: 26px;
    }
    
    &.open {
        background: url(../assets/icon-chat-open.svg) #ACFF98 no-repeat;
        background-position: right 32px center;
        border: solid #348621 3px;
    }
    &.closed {
        background: url(../assets/icon-chat-closed.svg) $blue-black-lightest no-repeat;
        border: solid $blue-black-light 3px;
        background-position: right 32px center;
    }
}
.chat-closed-msg {
    display: none;
    position: fixed;
    z-index: 9000;
    right: 24px;
    bottom: 90px;
    width: 100%;
    max-width: 300px;
    background: white;
    padding: 24px;
    border: 3px solid $blue-black-light;
    border-radius: 4px;
    box-shadow: $button-boxshadow;
    
    .msg-container {  
        > *:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        > *:first-child {
            padding-top: 0;
            margin-top: 0;
        }
    }
    span.arrow {
        background-color: $white;
        border-bottom: 3px solid $blue-black-light;
        border-right: 3px solid $blue-black-light;
        bottom: -16px;
        height: 16px;
        width: 16px;
        position: absolute;
        bottom: -18px;
        right: 2rem;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 900;
    }
    
    &.show {
            display: block;
    }
}

// GRID OVER RIDES
@media (max-width: 1200px) {
    .container, .container-md, .container-sm {
        max-width: calc(100% - 64px);
    }
}
@media (max-width: 575px) {
    .container, .container-md, .container-sm {
        max-width: calc(100% - 32px);
    }
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0 16px;
}
.row {
    margin-left: -16px;
    margin-right: -16px;
}


//PAGE SECTIONS
.section-background {
    background: $blue-background-light;
    padding: 16px 0;
    margin: 32px 0;

}
.main-content {
    > *:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    > *:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}


// BODY CONTENT

.body-copy {
  
    a {
        font-weight: 600;
        color: $blue-links;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        box-shadow: none;
        
        &:visited {
            color: $purple-links-visited;
        }
        &:focus {
            background: $blue-background-extralight;
            border: solid 2px $blue-focus;
            border-radius: 4px;
            outline: 0;
        }
        &:hover {
            background: $blue-background-extralight;
        }
    }
    a:not([href]):not([class]), a:not([href]):not([class]):hover {
        font-weight: 600;
        color: $blue-links;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        box-shadow: none;
    }
    
    ul {
        margin: 0 0 0 48px;
        
        li {
            margin: 0 0 0 0px;
            list-style-type: none;
            text-indent: -24px;
            
            &:before {
                content: "";
                height: 6px;
                width: 6px;
                background: $blue-black-dark;
                display: inline-block;
                margin-right: 16px;
                border-radius: 6px;
            }
        }
    }
    
    .side-menu {
        
        ul {
            margin: 0 0 24px 0;
            padding: 0;

            li {
                display: block;
                color: $blue-links;
                margin: 0;
                padding: 0 0 16px 0;
                text-indent: 0;
                font-size: 14px;
                line-height: 20px;
                
                &:before {
                    display: none;
                }

                a {
                    color: $blue-links;
                    display: block;
                    text-decoration: none;
                    background: none;
                    margin: 0;
                    padding: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    
                    &:focus {
                        border: solid 2px $blue-focus;
                        border-radius: 4px; 
                    }
                    &:hover {
                        text-decoration: underline;
                        text-decoration-thickness: 1px;
                        text-underline-offset: 2px;
                        font-weight: 600;
                    }
                    &.current {
                        border-left: 3px solid $blue-links;
                        padding-left: 8px;
                        font-weight: 600;
                    }
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 32px;
        }
        > *:first-child {
            padding-top: 0;
            margin-top: 0;
        }
    }
    
    &.no-side-menu {
        padding: 0 12px 0 44px;
    }

}


// MEDIA QUERIES
@media (max-width: 767px) {
    
    button.chat {
        text-indent: -9999px;
        height: 58px;
        width: 58px;
        padding: 0;
        
        &.open, &.closed {
            background-position: center center;
        }  
    }
    .chat-closed-msg {
        &.show {
            background: url(../assets/icon-close.svg) no-repeat $white;
            background-position: right 8px top 8px;

        }
    }
    
    h1 {
        font-size: 32px;
        
    }
    h2 {
        font-size: 28px;
    }
    
    .body-copy {
        &.no-side-menu {
            padding: 0 12px;
        }
    }
   
}






