// FEATURE IMAGE PATHWAY
.feature-pathway-container  {
    
    margin-bottom: 32px;
    a {
        background: $blue-background-dark;
        display: flex;
        padding: 0;
        color: $white;
        cursor: pointer;

        .feature-content {
            padding: 32px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .feature-text {
                width: 100%;

                h2, h3, p {
                    color: $white;
                }
                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 18px;
                }

            }
            .icon-arrow {
                width: 48px;
                height: 48px;
                background: $white;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    fill: $blue-black-dark;
                }
            }
        }
        .feature-image {
            width: 50%;
            display: block;

            img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

// HERO PATHWAYS
/*
.hero-block-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .hero-pathway {
            border: solid 1px #d8d8d8;
            background: $white;
            //box-shadow: 2px 2px 4px 0px #D8D8D8;
            margin: 0 0 32px 0;
            width: 32%;

            a {
                display: flex;
                height: 100%;
                padding: 0;
                cursor: pointer;
                border-left: solid 16px $yellow-highlight-dark;
                
                h3 {
                    color: $blue-links;
                    font-size: 24px;
                }

                .hero-content {
                    margin: 31px;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;

                    .icon-arrow {
                        width: 48px;
                        height: 48px;
                        background: $yellow-highlight-mid;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .hero-image {
                    display: none;
                }
            }
 
            &.yellow {
                a {
                    border-left: solid 16px $yellow-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $yellow-highlight-dark;
                        }
                    }
                }
            }
            
            &.blue {
                a {
                    border-left: solid 16px $blue-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $blue-highlight-mid;
                        }
                    }
                }
            }
            
            &.teal {
                a {
                    border-left: solid 16px $teal-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $teal-highlight-mid;
                        }
                    }
                }
            }
            
            &.green {
                a {
                    border-left: solid 16px $green-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $green-highlight-mid;
                        }
                    }
                }
            } 
  
            &.purple {
                a {
                    border-left: solid 16px $purple-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $purple-highlight-mid;
                        }
                    }
                }
            }
            
            &.orange {
                a {
                    border-left: solid 16px $orange-highlight-dark;
                    
                    .hero-content {
                        .icon-arrow {
                            background: $orange-highlight-mid;
                        }
                    }
                }
            }
           
            &.large {
                width: 66%;
                
                a {
                    .hero-content {
                        width: 50%;
                    }
                    .hero-image {
                        display: flex;
                    }
                }
                
                &.yellow {
                    background: $yellow-highlight-light;
                    background: linear-gradient(90deg, rgba(255,240,193,1) 0%, rgba(255,232,160,1) 84%);
                }
                
                &.blue {
                    background: $blue-highlight-light;
                }
                       
                &.teal {
                    background: $teal-highlight-light;
                    background: linear-gradient(90deg, rgba(225,242,242,1) 0%, rgba(197,233,233,1) 84%);
                }
                
                &.green {
                    background: $green-highlight-light;
                }
                
                &.orange {
                    background: $orange-highlight-light;
                }
                
                &.purple {
                    background: $purple-highlight-light;
                }   
            }
                
        }
    
    }
*/

.hero-block-container {

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }

    .hero-pathway {
        border: solid 1px $blue-border;
        background: $white;
        height: 100%;
        margin-bottom: 32px;
        
        a {
            display: flex;
            height: 100%;
            padding: 0;
            cursor: pointer;
            border-left: solid 16px $yellow-highlight-dark;

            h2, h3 {
                color: $blue-links;
                padding-top: 0px;
            }
            p {
                padding: 0;
            }

            .hero-content {
                margin: 32px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;

                .icon-arrow {
                    width: 48px;
                    height: 48px;
                    background: $yellow-highlight-mid;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .hero-image {
                display: none;
            }
        }

        &.yellow {
            a {
                border-left: solid 16px $yellow-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $yellow-highlight-dark;
                    }
                }
            }
        }

        &.blue {
            a {
                border-left: solid 16px $blue-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $blue-highlight-mid;
                    }
                }
            }
        }

        &.teal {
            a {
                border-left: solid 16px $teal-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $teal-highlight-mid;
                    }
                }
            }
        }

        &.green {
            a {
                border-left: solid 16px $green-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $green-highlight-mid;
                    }
                }
            }
        }

        &.purple {
            a {
                border-left: solid 16px $purple-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $purple-highlight-mid;
                    }
                }
            }
        }

        &.orange {
            a {
                border-left: solid 16px $orange-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $orange-highlight-mid;
                    }
                }
            }
        }

        &.large {

            a {
                .hero-content {
                    width: 50%;
                }

                .hero-image {
                    display: flex;
                    height: 100%;
                    
                    img {
                        object-fit: cover;
                    }
                }
            }
        }

    }

}

// STANDARD PATHWAYS
.standard-block-container {
    
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }
    
    .standard-pathway {
        border: solid 1px $blue-border;
        height: 100%;
        background: $white url(../assets/arrow-circle-right-blue.png) no-repeat;
        background-position: left 32px bottom 32px;
        background-size: 32px 32px;

        a {
            display: flex;
            height: 100%;
            padding: 0;
            cursor: pointer;
            border-left: solid 8px $blue-background-dark;

            h2, h3 {
                color: $blue-links;
                font-size: 24px;
                padding-top: 0;
            }

            .standard-content {
                padding: 32px 32px 64px 32px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
            }

            .hero-image {
                display: none;
            }
        }
    }
}


// IMAGE PATHWAYS
.image-block-container {
    
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }
 
    .image-pathway {
        border: solid 1px $blue-border;
        background: $white;
        height: 100%;
        display: block;
        background: url(../assets/arrow-circle-right-blue.png) no-repeat;
        background-position: left 32px bottom 32px;
        background-size: 32px 32px;

        a {
            display: block;
            padding: 0;
            cursor: pointer;

            h2, h3 {
                color: $blue-links;
                font-size: 24px;
                padding-top: 0;
            }

            .image-content {
                padding: 32px 32px 64px 32px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
            }
        }
    }
}


// MEDIA QUERIES
@media (max-width: 1199px) {
    .feature-pathway-container a {
        .feature-content {
            .feature-text {
                h3 {
                    font-size: 26px;
                }
                p {
                    font-size: 16px;
                }
            } 
        }
    }
}


@media (max-width: 991px) {
    .feature-pathway-container a {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
        .feature-content {
            width: 100%; 
        }
        .feature-image {
            width: 100%;
        }
    }
    
    .hero-block-container {
        .hero-pathway {
            
            .hero-image {
                display: none;
            }
            .hero-content {
                .hero-text {
                    width: 100%;
                }
            }

            &.large {
                a {
                    .hero-content {
                        width: 100%;
                    }
                    .hero-image {
                        display: none;
                    }
                }
            }
        }
    }
    
    
}

@media (max-width: 767px) {
    .feature-pathway-container a {
        .feature-content {
            padding: 24px;
        }
    }
    
    .hero-block-container {
        .hero-pathway {
            a {
                .hero-content {
                    margin: 24px;
                }
            }
        }
    }
    
    .standard-block-container {
        .standard-pathway {
            background-position: left 24px bottom 24px;
            
            a {
                .standard-content {
                    padding: 24px 24px 64px 24px;
                }
            }
        }
    }
    
    .image-block-container {
        .image-pathway {
            background-position: left 24px bottom 24px;
            
            a {
                .image-content {
                    padding: 24px 24px 64px 24px;
                }
            }
        }
    }
    
    
}