// FEATURE IMAGE PATHWAY
.feature-pathway-container  {
    
    margin-bottom: 32px;
    background: $blue-background-dark;
    
    a {
        display: flex;
        padding: 0;
        color: $white;
        cursor: pointer;

        .feature-content {
            padding: 32px;
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .feature-text {
                width: 100%;

                h2, h3, p {
                    color: $white;
                }
                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 18px;
                    line-height: 30px;
                }
                
                > *:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                > *:first-child {
                    padding-top: 0;
                    margin-top: 0;
                }

            }
            .icon-arrow {
                width: 48px;
                height: 48px;
                background: $white;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;

                svg {
                    fill: $blue-black-dark;
                }
            }
        }
        .feature-image {
            width: 50%;
            display: block;

            img {
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                object-fit: cover;
                height: 100%;
            }
        }
    }
    
    &:focus {
        background: $blue-background-extralight;
        border: solid 3px $blue-focus;
        border-radius: 4px;
        outline: none;
         
         a {
             .feature-content {
                 .feature-text {
                     h2, h3 {
                         color: $blue-links;
                         text-decoration: underline;
                         text-decoration-thickness: 1px;
                         text-underline-offset: 2px;
                     }
                     p {
                         color: $black;
                     }
                 }
                 .icon-arrow {
                     background: $blue-background-dark;
                     
                     svg {
                         fill: $white;
                     }
                 }
             }
         }
    }
    
    &:hover {
        background: $blue-links;
        border: none;
         
         a {
             .feature-content {
                .feature-text {
                     h2, h3 {
                         color: $white;
                         text-decoration: underline;
                         text-decoration-thickness: 1px;
                         text-underline-offset: 2px;
                     }
                     p {
                         color: $white;
                     }
                 }
                .icon-arrow {
                    background: $white;

                    svg {
                        fill: $blue-black-dark;
                    }
                }
             }
         }
    }


}

// HERO PATHWAYS
.hero-block-container {

    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }

    .hero-pathway {
        border: solid 1px $blue-border;
        background: $white;
        height: 100%;
        margin-bottom: 32px;
        
        a {
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding: 0;
            cursor: pointer;
            border-left: solid 16px $yellow-highlight-dark;

            h2, h3 {
                color: $blue-links;
            }

            .hero-content {
                margin: 24px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;

                .icon-arrow {
                    width: 48px;
                    height: 48px;
                    background: $yellow-highlight-mid;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .hero-text {
                    > *:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                    > *:first-child {
                        padding-top: 0;
                        margin-top: 0;
                    }
                }
            }

            .hero-image {
                display: none;
            }
        }

        &.yellow {
            a {
                border-left-color: $yellow-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $yellow-highlight-dark;
                    }
                }
            }
        }

        &.blue {
            a {
                border-left-color: $blue-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $blue-highlight-mid;
                    }
                }
            }
        }

        &.teal {
            a {
               border-left-color: $teal-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $teal-highlight-mid;
                    }
                }
            }
        }

        &.green {
            a {
                border-left-color: $green-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $green-highlight-mid;
                    }
                }
            }
        }

        &.purple {
            a {
                border-left-color: $purple-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $purple-highlight-mid;
                    }
                }
            }
        }

        &.orange {
            a {
                border-left-color: $orange-highlight-dark;

                .hero-content {
                    .icon-arrow {
                        background: $orange-highlight-mid;
                    }
                }
            }
        }

        &.large {

            a {
                .hero-content {
                    width: calc(50% - 64px);
                    flex-basis: auto;
                    flex-grow: 0;
                    
                }

                .hero-image {
                    width: 50%;
                    flex-basis: auto;
                    flex-grow: 0;
                    display: flex;
                    height: 100%;
                    
                    
                    img {
                        object-fit: cover;
                    }
                }
            }
        }
        
        &:focus {
            border: solid 3px $blue-focus;
            border-radius: 2px;
            background: #E6F3F3;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }  
            }
        }
        &:hover, &:active {
            background: #E6F3F3;
            border: solid 1px $blue-background-dark;
            border-radius: none;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }  
            }
        }

    }

}

// STANDARD PATHWAYS
.standard-block-container {
    
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }
    
    .standard-pathway {
        border: solid 1px $blue-border;
        height: 100%;
        background: $white url(../assets/arrow-circle-right-blue.png) no-repeat;
        background-position: left 32px bottom 24px;
        background-size: 32px 32px;

        a {
            display: flex;
            height: 100%;
            padding: 0;
            cursor: pointer;
            border-left: solid 8px $blue-background-dark;

            h2, h3 {
                color: $blue-links;
                font-size: 22px;
                padding-top: 0;
            }
            
            p:last-of-type {
                padding-bottom: 0;
            }

            .standard-content {
                padding: 24px 24px 80px 24px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
            }

            .hero-image {
                display: none;
            }
        }
        
        &:focus {
            border: solid 3px $blue-focus;
            background-color: $blue-background-extralight;
            outline: 0;
            border-radius: 4px;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }
            }
        }
        &:hover {
            border: solid 1px $blue-border;
            background-color: $blue-background-extralight;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }
            }
        }
        
        > *:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        > *:first-child {
            padding-top: 0;
            margin-top: 0;
        }
        
    }
}


// IMAGE PATHWAYS
.image-block-container {
    
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        margin-bottom: 32px;
    }
 
    .image-pathway {
        border: solid 1px $blue-border;
        background: $white;
        height: 100%;
        display: block;
        background: url(../assets/arrow-circle-right-blue.png) no-repeat;
        background-position: left 24px bottom 24px;
        background-size: 32px 32px;

        a {
            display: block;
            padding: 0;
            cursor: pointer;

            h2, h3 {
                color: $blue-links;
                
                padding-top: 0;
            }
            p {
                padding-bottom: 0px;
            }

            .image-content {
                padding: 24px 24px 80px 24px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
            }
        }
        
        &:focus {
            border: solid 3px $blue-focus;
            background-color: $blue-background-extralight;
            outline: 0;
            border-radius: 4px;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }
            }
        }
        &:hover {
            border: solid 1px $blue-border;
            background-color: $blue-background-extralight;
            
            a {
                h2, h3 {
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 2px;
                }
            }
        }
    }
}


// INLINE PATHWAY
.inline-pathway-block {
    margin-bottom: 32px;
    
    .inline-pathway {
        background: $blue-background-extralight;
        padding: 24px;
        border-left: 8px solid $blue-border;
        margin: 0 0 4px 0;

        a {
            text-decoration: none;
            text-decoration-thickness: 0;
            text-underline-offset: 0;
            
            &:hover {
                background: none;
            }
        }

        .description {
            color: $blue-links;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
            padding: 0;
            display: inline;
            font-weight: 600;
        }

        .destination {
            padding: 0 0 0 24px;
            margin: 16px 0 0 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            background: url(../assets/icon-external.svg) no-repeat;
            background-position: left center;
        }

        &:focus {
            outline: solid 3px $blue-focus;
            border-radius: 4px;
        }

        &:hover {
            border: none;
            border-left: 8px solid $blue-border;
            border-radius: none;
            background: $blue-highlight-light;
        }
        
        > *:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        > *:first-child {
            padding-top: 0;
            margin-top: 0;
        }
    }  
}
    

// CALL OUT
.call-out {
    background: $yellow-highlight-light;
    border-left: 8px solid $yellow-highlight-dark;
    padding: 24px;
    margin: 0 0 32px 0;
    
    a {
        &:hover {
            background: $white;
        }

        &:focus {
            background: $white;
            border: 2px solid $blue-focus;
            outline: 0;
        }
    }    
    > *:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    > *:first-child {
        padding-top: 0;
        margin-top: 0;
    }
}

// BLOCK QUOTE
.block-quote-container {
    padding: 32px 0px 48px 0px;
    
    .block-quote {
        border-left: solid 8px $purple-highlight-dark;
        padding-left: 24px;
        display: flex;
        
        svg {
            width: 28px;
            margin: 8px 16px 0 0 ;
            fill: $purple-highlight-mid;
            flex-shrink: 0;
        }
        .quote {      
            font-size: 22px;
            line-height: 33px;
            font-style: italic;
            padding-bottom: 16px
        }
        .quote-source {
            font-size: 14px;
            line-height: 21px;
            padding: 0 0 8px;
        }
    }
} 



// MEDIA QUERIES
@media (max-width: 1199px) {
    .feature-pathway-container a {
        .feature-content {
            width: 40%;
            padding: 24px;
            
            .feature-text {
                h3 {
                    font-size: 26px;
                }
                p {
                    font-size: 16px;
                    line-height: 26px;
                }
            } 
        }
        .feature-image {
            width: 60%;
        }
    }
}


@media (max-width: 991px) {

    .hero-block-container {
        .hero-pathway {
            
            a {
                border-left-width: 8px;
            }
            
            .hero-image {
                display: none;
            }
            .hero-content {
                .hero-text {
                    width: 100%;
                }
            }

            &.large {
                a {
                    .hero-content {
                        width: 100%;
                    }
                    .hero-image {
                        display: none;
                    }
                }
            }
        }
    }
    
    
}

@media (max-width: 767px) {
    .feature-pathway-container a {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        
        .feature-content {
            width: 100%;
            padding: 24px;
        }
        .feature-image {
            width: 100%;
        }
    }
    
    .hero-block-container {
        .hero-pathway {
            a {
                .hero-content {
                    margin: 24px;
                }
            }
        }
    }
    
    .standard-block-container {
        .standard-pathway {
            background-position: left 24px bottom 24px;
            
            a {
                .standard-content {
                    padding: 24px 24px 80px 24px;
                }
            }
        }
    }
    
}

@media (max-width:575px) {
    .block-quote-container {
        padding: 24px 0px 32px 0px;

        .block-quote {
            padding-left: 16px;
            
            .quote {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}