// HEADER
header {
    padding: 32px 0 24px;

    #header-strap {
        justify-content: space-between;
        margin-bottom: 32px;

        .bga-logo {
            .mobile-logo {
                display: none;
            }

            svg {
                &:focus {
                    border: solid 3px $blue-focus;
                    border-radius: 4px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .mobile-buttons-wrapper {
                display: none;
            }
        
        
        .search-container {
            display: flex;
            justify-content: flex-end;

            input {
                height: 48px;
                border: solid $black 1px;
                border-right: 0px;
                width: 220px;
                padding: 0 16px;
                transition: width 0.6s;
                
                &.in-focus {
                    width: calc(100% - 56px);
                }

                &:focus {
                    border: solid 3px $blue-focus;
                    border-radius: 4px;
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                }
            }

            button {
                text-indent: -9999px;
                height: 48px;
                width: 56px;
                border: $blue-links solid 1px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: url(../assets/icon-search-white.svg) $blue-background-dark no-repeat;
                background-position: center center;

                &:focus {
                    border: solid 3px $blue-focus;
                    background: url(../assets/icon-search-blue.svg) $blue-background-light no-repeat;
                    background-position: center center;
                }

                &:hover {
                    background: url(../assets/icon-search-white.svg) $blue-links no-repeat;
                    background-position: center center;
                }
            }
        }

        .mobile-nav {
            display: none;
        }

    }

    #mobile-search {
        display: none;
    }
    
    #nav {
        padding: 0;
        margin: 0;
        position: relative;

        .nav {
            margin: 0 0 0 -8px;
            padding: 0;
            display: block;
            width: calc(100% + 16px);
            
            .submenu-wrapper {
                display: inline-block;
                position: relative
            }
            
            /* HIDE SUB LEVELS BY DEFAULT */
            ul {
                display: none;
            }

            /* LEVEL 1 */
            li {
                display: inline-block;
                padding: 6px 8px;
                margin: 0 2px 0 0;
                background: $white;
                border-radius: 4px;
                color: $blue-links;
                font-weight: 600;
                font-size: 16px;
                margin: 0;
                letter-spacing: 0;
                text-decoration: none;


                &:hover {
                    background-color: $blue-background-light;
                    border: none;
                }

                &:focus {
                    background-color: $blue-background-light;
                    border: 2px solid $blue-focus;
                }
                &:active {
                    border: none;
                }

                a {
                    display: inline-block;
                    color: $blue-links;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 4px 0 0;
                    letter-spacing: 0;
                    text-decoration: none;
                }

                &.nav-dropdown.level-1 {
                    padding: 6px 28px 6px 8px;
                    background-image: url(../assets/Chevron-down-blue.svg);
                    background-repeat: no-repeat;
                    background-position: right 8px center;
                    position: relative;
                }
            }
            
            li.open {
                    background-color: $blue-background-light;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    border: none;

                    &.nav-dropdown.level-1 {
                        background-image: url(../assets/Chevron-up-blue.svg);
                        
                        /* SHOW LEVEL 2 */
                        + ul {
                            display: block;
                            position: absolute;
                            background: $white;
                            box-shadow: $button-boxshadow;
                            min-width: 282px;
                            z-index: 9000;
                            top: 40px;
                            left: 0px;
                            padding: 0;
                            border-left: solid 4px $blue-links;

                            li {
                                background: $blue-background-light;
                                padding: 8px 44px 8px 16px;
                                display: block;
                                border-radius: 0;
                                border-bottom: $white solid 2px;

                                &:focus {
                                    border: none;
                                    border-bottom: solid 2px $white;
                                    outline: none;
                                    background: $blue-links;

                                    a {
                                        color: $white;
                                    }
                                }

                                &:hover {
                                    background: $blue-links;
                                    border: none;
                                    border-bottom: $white solid 2px;

                                    a {
                                        color: $white;
                                    }
                                }
                                &:active {
                                    border: none;
                                    border-bottom: $white solid 2px;
                                }

                                &:last-of-type {
                                    border-bottom: none;
                                    
                                    &:hover, &:active {
                                        border-bottom: none !important;
                                    }
                                }

                                
                                &.nav-dropdown.level-2 {
                                    background: url(../assets/arrow-right-blue.svg) no-repeat $blue-background-light;
                                    background-size: 12px 12px;
                                    background-position: right 16px center;
                                    position: relative;

                                    &:focus {
                                        border: none;
                                        border-bottom: solid 2px $white;
                                        outline: none;
                                        background: $blue-links url(../assets/arrow-right-white.svg) no-repeat;
                                        background-size: 12px 12px;
                                        background-position: right 16px center;

                                        a {
                                            color: $white;
                                        }
                                    }

                                    &:hover {
                                        background: $blue-links url(../assets/arrow-right-white.svg) no-repeat;
                                        background-size: 12px 12px;
                                        background-position: right 16px center;
                                        border: none;
                                        border-bottom: solid 2px $white;

                                        a {
                                            color: $white;
                                        }
                                    }

                                    ul {
                                        display: none;
                                    }
                                    
                                    &.open {
                                        background: $blue-links url(../assets/arrow-right-white.svg) no-repeat;
                                        background-size: 12px 12px;
                                        background-position: right 16px center;
                                        border: none;
                                        border-bottom: $white solid 2px;
                                        
                                        a {
                                            color: $white;
                                        }
                                        
                                        /* LEVEL 3 */
                                        + ul {
                                            display: block;
                                            position: absolute;
                                            left: 100%;
                                            margin-top: -44px;
                                            box-shadow: $button-boxshadow;
                                            padding-bottom: 0;
                                            
                                            li.level-3 {
                                                background: $blue-links;
                                                min-width: 282px;

                                                a {
                                                    color: $white;
                                                }

                                                &:focus {
                                                    border: none;
                                                    border-bottom: $white solid 2px;
                                                    background: $blue-footer;
                                                    outline: none;
                                                }

                                                &:hover {
                                                    background: $blue-footer;  
                                                    border: none;
                                                    border-bottom: $white solid 2px;
                                                }
                                                &:active {
                                                        border: none;
                                                        border-bottom: $white solid 2px;
                                                }

                                            }
                                        }                                            
                                    }
                                }
                                
                            }
                        }
                    }
                }
        }

    }
}


// BREADCRUMBS
#breadcrumbs {
    background: $blue-background-dark;
    padding: 9px 0;
    min-height: 48px;
    
    .breadcrumbs-wrapper {
        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 26px 0 0;
                margin: 0;
                background: url(../assets/Chevron-right-white.svg) no-repeat;
                background-size: 16px 10px;
                background-position: right 2px center;

                a,
                p {
                    color: $white;
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    
                }

                a {
                   
                    font-weight: 700;
                    letter-spacing: 0.01rem;
                    
                    &:focus {
                        border: $white solid 2px;
                        border-radius: 4px;
                        outline: none;
                    }
                }

                &.hidden {
                    display: none;
                }

                &.breadcrumb-current {
                    background: none;
                }
            }
        }
    }
}


// MEDIA QUERIES

@media (max-width: 1199px) {
    header {
        #nav {
            .nav {
                
                li,
                li.nav-dropdown {
                    font-size: 15px;
                    line-height: 20px;

                    a {
                        font-size: 15px;
                    }
                    

                }
                li.level-1 {
                    padding: 6px 8px;
                    
                    &.nav-dropdown {
                        padding: 6px 28px 6px 6px;
                        background-position: right 6px center;
                    }
                    
                    a {
                        padding: 0;
                    }
                }
                
                li.open.nav-dropdown.level-1 + ul {
                    top: 34px;
                    border-left: solid 4px $blue-links;
                    
                    &.left-aligned {
                        left: auto;
                        right: calc(100% - 74px);
                    }
                }
                li.open.nav-dropdown.level-1 + ul li.nav-dropdown.level-2.open + ul {
                    margin-top: -41px;
                }
                
                
            }
        }
        
    }
}

@media (max-width: 991px) {
    header {
        
        #header-strap {
            
        }
        #nav {
            ul.nav {
                display: flex;

                .submenu-wrapper {
                    flex-grow: 0;
                    flex-basis: 0;
                }
                
                li {
                    flex-grow: 0;
                    flex-basis: 0;
                    margin-right: 6px;

                    span {
                        white-space: nowrap;
                    }

                    
                }
                li.level-1 {
                    height: 100%;
                    
                    &.nav-dropdown {
                        background-position: right 4px top 12px;
                    }
                }
                
                li.open.nav-dropdown.level-1 + ul {
                    top: 59px;
                    
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        padding: 24px 0;

        #header-strap {
            margin-bottom: 0;

            .bga-logo {
                display: flex;
                align-items: center;

                svg {
                    display: none;
                }

                .mobile-logo {
                    display: block;
                    color: $blue-links;
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    font-size: 20px;
                    text-decoration: none;
                }
            }

            .header-search {
                display: flex;
                justify-content: flex-end;
                
                .search-container {
                    display: none;
                }
            }

            .mobile-buttons-wrapper {
                display: block;
                width: 100%;
                text-align: right;
            }
            .mobile-search {
                display: inline-block;
                button {
                    border-radius: 0;
                    border: none;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    background: url(../assets/icon-search-white.svg) $blue-background-dark no-repeat;
                    background-position: center center;
                }
                &.open {
                    margin-bottom: 1px;
                    
                    button {
                        background: url(../assets/icon-close.svg) $blue-background-light no-repeat;
                        background-position: center center;
                        border: none;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }
            .mobile-nav {
                display: inline-block;
                
                button {
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    border: none;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    background: url(../assets/icon-menu.svg) $blue-background-dark no-repeat;
                    background-position: center center;
                }
                
                &.open {
                    margin-bottom: 1px;
                    
                    button {
                        background: url(../assets/icon-close.svg) $blue-background-light no-repeat;
                        background-position: center center;
                        border: none;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }
        }

        #mobile-search {
            .mobile-search-container {
                display: flex;
                background: $blue-background-light;
                padding: 24px;

                input {
                    height: 48px;
                    border: solid $black 1px;
                    border-right: 0px;
                    width: calc(100% - 56px);
                    padding: 0 16px;
                
                }   
                button {
                    border-radius: 0;
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                    text-indent: -9999px;
                    height: 48px;
                    width: 56px;
                    border: none;
                    border-radius: 0;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background: url(../assets/icon-search-white.svg) $blue-background-dark no-repeat;
                    background-position: center center;

                }
            }
            
        }
        #nav {
            display: none;
            
            background: $blue-background-light;
            
            //LEVEL 1
            ul.nav {
                display: block;
                width: 100%;
                margin: 0;
                
                .submenu-wrapper, li {
                    display: block;
                    width: 100%;
                    padding: 0;
                }
                li, li:hover, li:active {
                    background: $blue-background-light;
                    border: none;
                    border-radius: 0;
                    border-bottom: $white solid 1px;
                    
                    &:last-of-type {
                       border-bottom: $white solid 1px; 
                    }
                    
                    &.level-1 {
                        padding: 12px 16px; 
                        
                        &.nav-dropdown {
                            padding: 12px 16px;
                            background-size: 14px 9px;
                            background-position: right 16px center;
                        }
   
                    }
                }
                
                // LEVEL 2
                li.open.nav-dropdown.level-1 + ul {
                    position: relative;
                    top: auto;
                    width: 100%; 
                    border-left: none;
                    box-shadow: none;
                    
                    &.left-aligned {
                        right: auto;
                    }
                    
                    li.level-2 {
                        background: $blue-links;
                        padding: 12px 16px;
                        border-bottom: $white solid 1px; 
                    
                        &:last-of-type {
                           border-bottom: $white solid 1px; 
                        }
                        
                        &.nav-dropdown, &.nav-dropdown:hover {
                            background: url(../assets/Chevron-down-white.svg) no-repeat $blue-links;
                            background-position: right 16px center;
                            padding: 12px 16px;
                        }
                        a {
                            color: $white;
                        }
                    }
                    
                }
                
                // LEVEL 3
                li.open.nav-dropdown.level-1 + ul li.nav-dropdown.level-2.open {
                    
                    border-bottom: $white solid 1px;         
                    background: $blue-links url(../assets/chevron-up-white.svg) no-repeat;
                    background-size: 14px 9px;
                    background-position: right 16px center;
                    
                    &:last-of-type {
                       border-bottom: $white solid 1px; 
                    }
                    
                    
                    + ul {     
                        position: relative;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        left: auto;
                        box-shadow: none;

                        li.level-3, li.level-3:hover {
                            background: $blue-footer;
                            border-bottom: $white solid 1px;
                            padding: 12px 16px;

                            &:last-of-type {
                               border-bottom: $white solid 1px; 
                            }
                        }  
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    #breadcrumbs {
        .breadcrumbs-wrapper {
            ul {
                li {
                    &.breadcrumb-current {
                        display: none;
                    }
                    &.breadcrumb-link {
                        display: none;   
                        
                        &.mobile-breadcrumb {
                            display: inline-block;  
                            background: url(../assets/icon-mobile-breadcrumb.svg) no-repeat;
                            background-position: left 0 center;
                            padding: 0 0 0 30px;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    header {
        #header-strap {
            .bga-logo {
                width: 100%;
                padding-bottom: 24px;
            }  
            .header-search {
                width: 100%;
                .mobile-buttons-wrapper {
                    text-align: left;
                }
            }
        }
    }
}