<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>

    <!-- HEADER -->

            {% include header.html %}


    <!-- CONTENT -->
    
    <!-- HOME BANNER -->
    <div class="banner-background">
        <div class="spacer"></div>
    <div class="container">
        <div id="home-banner">
             <div class="row">
                 <div class="col-12 banner-container">
                     <div class="banner-content">
                         <h1>Support for businesses in Australia</h1>

                         <p class="lead">Information, grants, services and support from across government to help your business succeed.</p>
                     </div>
                     <div class="banner-image"></div>
                 </div>
             </div>
         </div>
        <div id="alert">
            <div class="row">

                <div class="col-12">
                    <div class="">
                        <a  tabindex=0 class="alert-container">
                            <h2>Coronavirus support</h2>
                            <p>Find financial assistance, eligibility and timing for the new government support for Australian businesses.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu-highlight">
            <div class="row">
                <div class="col-12">
                    <h2>Business information</h2>
                    <ul class="business-info">
                        <li tabindex=0><a>Planning</a></li>
                        <li tabindex=0 ><a>Finance</a></li>
                        <li tabindex=0 ><a>Marketing</a></li>
                        <li tabindex=0 ><a>Online</a></li>
                        <li tabindex=0 ><a>People</a></li>
                        <li tabindex=0 ><a>Products and services</a></li>
                        <li tabindex=0 ><a>Risk management</a></li>
                        <li tabindex=0 ><a>Change and growth</a></li>
                        <li tabindex=0 ><a>Exiting</a></li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
    </div>
    
    
    <!-- MAIN CONTENT -->
    
    <div class="container main-content">
        
        <div id="recommended">
            <div class="row">
                <div class="col-12">

                    <h2>Recommended for you</h2>
                    <div>
                        <div tabindex=0 class="feature-pathway-container">
                            <a>
                                <div class="feature-content">
                                    <div class="feature-text">
                                        <h3>Are you ready to apply for a business grant?</h3>
                                        <p>Use our Check if you’re ready to apply for a grant checklist to learn more about the process and help you increase your chance of getting funding or support.</p>
                                      
                                    </div>
                                    <div class="icon-arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                            <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                        </svg>
                                    </div>

                                </div>

                                <div class="feature-image">
                                    <img src={{ "assets/potter-on-computer.jpg" | relative_url }} alt="Potter in her studio using a laptop" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="popular">
           
            <h2>Popular information</h2>

            <div class="hero-block-container">
                        
                <div class="row">
                    
                    <div class="col-12 col-sm-6 col-lg-8">
                        <div tabindex=0 class="hero-pathway large yellow">


                        <a>     
                            <div class="hero-content">

                                <div class="hero-text">
                                    <h3>Guides to help your business</h3>
                                    <p>Use our guides to help you plan, start and run your business. You’ll find resources, tools and where to go for more help.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>

                            <div class="hero-image">
                            <img src={{ "assets/Illo-guides-road-destinations.svg" | relative_url }} alt=""/>
                            </div>
                        </a>
</div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div tabindex=0 class="hero-pathway small blue">

                        <a>
                            <div class="hero-content">
                                <div class="hero-text">
                                    <h3>COVID-19 rapid antigen tests for business owners</h3>
                                    <p>Learn how rapid antigen testing can help your business and your rights and responsibilities as a business owner.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>


                            <div class="hero-image">
                            
                            </div>
                        </a>
</div>
                    </div>
              
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div tabindex=0 class="hero-pathway small orange">

                        <a>
                            <div class="hero-content">
                                <div class="hero-text">
                                    <h3>Register for an Australian business number (ABN)</h3>
                                    <p>Learn how to apply for an Australian business number (ABN) for tax and other business activities.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>


                            <div class="hero-image">
                            
                            </div>
                        </a>
</div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-8">
                        <div tabindex=0 class="hero-pathway large teal">


                        <a>     
                            <div class="hero-content">

                                <div class="hero-text">
                                    <h3>COVID-19 financial support for small business</h3>
                                    <p>Find government financial assistance and support for small business and sole traders.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>

                            <div class="hero-image">
                            <img src={{ "assets/Illo-man-shop-mask.svg" | relative_url }} alt="" />
                            </div>
                        </a>
</div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div tabindex=0 class="hero-pathway small purple">

                        <a>
                            <div class="hero-content">
                                <div class="hero-text">
                                    <h3>Guides to help your business</h3>
                                    <p>Use our guides to help you plan, start and run your business. You’ll find resources, tools and where to go for more help.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>


                            <div class="hero-image">
                           
                            </div>
                        </a>
</div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div tabindex=0 class="hero-pathway small green">

                        <a>
                            <div class="hero-content">
                                <div class="hero-text">
                                    <h3>COVID-19 vaccinations and your business</h3>
                                    <p>Understand your workplace rights and obligations as COVID-19 vaccines become available in Australia.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>


                            <div class="hero-image">
                                <img src={{"assets/Illo-man-shop-mask.svg" | relative_url }} alt="" />
                            </div>
                        </a>
 </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div tabindex=0 class="hero-pathway small yellow">

                        <a>
                            <div class="hero-content">
                                <div class="hero-text">
                                    <h3>Business structures</h3>
                                    <p>Learn about different business structures, how to choose one and what you need to do if you change your business structure.</p>
                                </div>

                                <div class="icon-arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15.143" viewBox="0 0 16 15.143">
                                    <path d="M41.173-37.929H30v-3H41.171L37.02-45.078,38.929-47,46-39.429l-7.071,7.572L37.02-33.766Z" transform="translate(-30 47)" fill-rule="evenodd" />
                                </svg>
                            </div>

                            </div>


                            <div class="hero-image">
                           
                            </div>
                        </a>
 </div>
                    </div>
                    
                </div>
                        
        </div>
        
    </div>
        
    </div>
    
    
    <div class="section-background">
    <div class="container">
    
        <h2>Find government assistance, grants and events</h2>
        
        <div class="standard-block-container">
            
            <div class="row">
            
                <div class="col-12 col-sm-6 col-lg-4">
                    <div tabindex=0 class="standard-pathway">
                    <a>
                        <div class="standard-content">

                            <div class="standard-text">
                                <h3>Grants and programs finder</h3>
                                <p>Find grants, funding and support programs to help your business grow and succeed!</p>
                            </div>



                        </div>

                    </a>
                </div>
                </div>
                
                <div class="col-12 col-sm-6 col-lg-4">
                    <div tabindex=0 class="standard-pathway">
                    <a>
                        <div class="standard-content">

                            <div class="standard-text">
                                <h3>Expertise and advice finder</h3>
                                <p>You don’t have to do it alone! Use our search to find a business adviser or expert.</p>
                            </div>



                        </div>

                    </a>
                </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div tabindex=0 class="standard-pathway">
                <a>
                    <div class="standard-content">

                        <div class="standard-text">
                            <h3>Events and training finder</h3>
                            <p>Use our search to find business events and training to improve your skills and grow your network.</p>
                        </div>

                        

                    </div>

                </a>
            </div>
                </div>
                
            </div>

        </div>        
        
    </div>
    </div>
    
    
    <div class="container">
        <div id="news">
                
        <h2>News</h2>

        <div class="image-block-container">
            
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    <div  tabindex=0 class="image-pathway">
                    <a>
                        <div class="image-image">
                            <img src={{ "assets/news-junofront-900x600.jpg" | relative_url }} alt="" />
                        </div>


                        <div class="image-content">

                            <div class="image-text">
                                <h3>Over $12.2m in grants for the next wave of innovations</h3>
                                <p>22 businesses are receiving Accelerating Commercialisation grants to take their innovations to market.</p>
                            </div>
                        </div>

                    </a>
</div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div  tabindex=0 class="image-pathway">
                    <a>
                        <div class="image-image">
                            <img src={{ "assets/news-applications-open-900x600.jpg" | relative_url }} alt="" />
                        </div>


                        <div class="image-content">

                            <div class="image-text">
                                <h3>Women in STEM and Entrepreneurship grants open</h3>
                                <p>Grants now available to upscale your projects and deliver greater impact in supporting women and girls in STEM and entrepreneurship.</p>
                            </div>

                        </div>


                    </a>
</div>
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    <div  tabindex=0 class="image-pathway">
                <a>
                    <div class="image-image">
                        <img src={{"assets/news-documents-900x600.jpeg" | relative_url }} alt="" />
                    </div>

                    <div class="image-content">

                        <div class="image-text">
                            <h3>Important financial dates in 2022</h3>
                            <p>Find out about the most important financial dates for your business in 2022.</p>
                        </div>

                    </div>


                </a>
            </div>
                </div>
                
            </div>


        </div>
                
        </div>
    </div>
    
    <!-- FOOTER -->

        {% include footer.html %}


</body>

</html>